{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card element-logs">
                <div class="card-header">
                    <h3>Connectez-vous</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connectée en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnectez !</a>
                            </div>
                        {% endif %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="email" required autofocus>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="password" required>
                        </div>
                        <div class="form-group">
                            <a href="{{ path('app_register') }}" class="btn float-left login_btn">S'enregistrer</a>
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
