<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="javascript:void(0);">Test Préliminaire</a></li>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="sidebar-nav-item"><a href="{{ path("app_login") }}">Connectez-vous</a></li>
            <li class="sidebar-nav-item"><a href="{{ path("app_register") }}">S'enregistrer</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="sidebar-nav-item"><a href="{{ path('admin') }}">Administration</a></li>
        {% endif %}
    </ul>
</nav>